<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EndPointUrl" value="https://bharathbbulkimport.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="AuthKey" />
    <add key="DatabaseName" value="TestDb" />
    <add key="CollectionName" value="TestColl" />
    <add key="CollectionThroughput" value="10000" />
    <add key="ShouldCleanupOnStart" value="true" />
    <add key="ShouldCleanupOnFinish" value="false" />
    <add key="NumberOfDocumentsToImport" value="100" />
    <add key="NumberOfBatches" value="10" />
    <add key="CollectionPartitionKey" value="/pk"/>
    <add key="InputFolder" value="XML_Receptor" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.22.0.0" newVersion="1.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
